@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ul {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
    -webkit-appearance: none;
}

button:focus {
    outline:0;
}

.react-skeleton-load {
    margin-bottom: 5px;
}

.route-wrapper {
    position: relative;
}

.route-wrapper > div {
    position: absolute;
}

@media (max-width: 575.98px) {
    font-size: 10px;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 11px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 12px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 13px;
}

@media (min-width: 1200px) {
    font-size: 14px;
}